.options {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 20px;
}

.options h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.print-board {
    color: #000;
}

.print-board h1 {
    text-decoration: underline;
}

.print-board .label {
    padding: 5px 15px;
    border-radius: 3px;
    color: #FFF;
    width: 50px;
    text-align: center;
    margin-right: 5px;
}

.print-board li{
    list-style: none;
}

.hide-card span{
    display: none;
    color: #999999;
}

.hide-card:hover span{
    display: inline;
}